

#gp-logo {
  top: auto !important;
  bottom: 40px;
}

.gp-menu .slide-menu-button {
  top: 20px;
  bottom: auto !important;
}

.spaced li {
  margin:0 0 10px 0;
}

.shadow {
  box-shadow:0 14px 20px 0 rgba(0,0,0,0.2),0 10px 24px 0 rgba(0,0,0,0.19) !important;
}

.headline h2 {
  color: white;
  letter-spacing: 0.05em;
  font-variant: small-caps;
}

.reveal section img {
  background: none;
  border: none;
  box-shadow: none;
}

.reveal a {
  color: white;
}

.reveal a:hover {
  color: white;
  font-weight: bold;
}
.reveal {
  font-family: -apple-system,BlinkMacSystemFont,system-ui,Helvetica Neue,Roboto,Segoe UI,Helvetica,Arial,sans-serif !important;
}
.reveal h3 {
  font-size: 1.5rem;
  line-height: 1.35;
  margin-bottom: 0.75rem;
  font-weight: 200;
  letter-spacing: normal;
  text-transform: none;
  color: #333;
  text-rendering: optimizelegibility;
  font-family: -apple-system,BlinkMacSystemFont,system-ui,Helvetica Neue,Roboto,Segoe UI,Helvetica,Arial,sans-serif !important;
}
